@media (width>1440px){
    .container{
        width: 100vw;
        height: 2500px;
    }
    header{
        width: 100vw;
    }
    .mainimg{
        width: 100vw;
        height: 790px;
        background-image: url(./assets/desktop/dessssmian.svg);
    }
    .mainimg p{
        width: 445px;
        margin-top: 32px;
        margin-left: 86px;
    }
    .mainimg button{
        margin-top: 56px;
        margin-left: 86px;
    }
    .headtxt{
        margin-top: 50px;
    }
    h1{
width: 493px;
height: 145px;
font-size: 72px;
margin-left: 86px;
margin-top: 120px;
line-height: 72px;
    }
    .showdiv{
        display: none;
    }
    .firstline{
        width: 100vw;
        gap: 700px;
        padding-left: 20px;
        margin-top: 2%;
    }
    .hidefortablet1{
        margin-left: 520px;
    }
    .middline{
        width: 1111px;
    }
   .middline h2{
    font-size: 150px;
    
    word-spacing: 100px;
   }
   .mainbox1{
    width: 570px;
    display: flex;
    flex-direction: row;
    margin-left: -325px;
    position: relative;
    top: -92px;
   }
   .box1{
    display: flex;
    flex-direction: column;
    width: 255px;
   
   }
   .b0{
    margin-top: 36px;
   }
   .box1 p{
    text-align: center;
    width: 255px;
   }
   .box1 h2{
    text-align: center
   }
   .mainbox2{
    width: 1333px;
   }
   .mainbox2-box1{
    width:1333px;
    margin-left: -700px;
   }
   .mainbox2-box1 h2{
margin-top: 112px;
margin-left: 475.5px;
   }
   .mainbox2-box1 p{
    margin-top: 32px;
    margin-left: 370px;
   }
   .mainbox3{
    display: flex;
width: 1045px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 80px;
height: 565px;
   }
   .line svg{
    z-index: -1;
   }
   footer{
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 216px;
   }
   .btn4{
    width: 217px;
 height: 56px;
 flex-shrink: 0;
 border-radius: 6px;
 background: #0E8784;
 }
 .btn4:hover{
    cursor: pointer;
    background: #66D2CF;
 }
 .btn4 a{
    color: #FEFCF7;
 text-align: center;
 font-family: 'Fraunces';
 font-size: 18px;
 font-style: normal;
 font-weight: 900;
 line-height: 25px; /* 138.889% */
 text-decoration: none;
 }
 .fim1{
 margin-top: 0;
 position: relative;
 left: -245px;
 }
 .links{
    left: -105px;
    position: relative;
    top: -25px;
 }
 footer svg{
    left: 320px;
     position: relative;
 }
 .b22 {
    top: 377px;
    left: -272px;
    position: absolute;
    width: 350px;
    height: 382px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
.b23{
    width: 350px;
    height: 382px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    top: 568px;
    left: 150px;
}
.mainbox2-box2 h2{
    margin-left: 100px;
}
.mainbox2-box2 p{
    width: 255px;
    text-align: center;
}
.mainbox2-box2 img{
    margin-top: 76px;
    margin-left: 136px;
}
.b23  h2{
    margin-left: 60px;
     
}
.b24{
    width: 350px;
    height: 382px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:763px ;
    left: 566px;
}

   
 
}
